/* $Id$

/*
 * This file contains CSS definitions that are less essential than those in "core".
 * These are specific to the way our Drupal module formats the page around the month view.
 */

table.holidays-calendar {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#method-warning {
  color: #f00;
  width: 10em;
}

.navigator-table {
}

.navigator-table td {
  padding-left: 1em;
  padding-right: 1em;
}

.navigator-today {
  text-align: center;
  font-weight: bold;
}

.navigator {
  text-align: center;
  font-size: 130%;
  margin: 0.5em;
}

/*a {
  color: #0000ee;
}
a:visited {
  color: #0000ee;
}*/

.navigator-table .title {
  font-family: serif;
  text-align: center;
  font-weight: bold;
  font-size: 220%;
  margin-bottom: 0.6em;
}

.calendar-range {
  text-align: center;
  font-weight: bold;
}

.navigator select {
  font-size: 110%;
  font-family: sans-serif;
}

@media print {

  body {
    margin: 0px;
    font-family: serif;
  }

  .navigator-today {
    display: none;
  }

  select {
    font-family: serif;
  }

}
